h1{
    color: rgb(255, 0, 0); 
    font-size: 50px;
    font-style: oblique;
    text-decoration: underline;
    text-align: center
 }
 strong{

    background-color: rgb(238, 224, 231);
 }

ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center
 }
 body{ 
    background-color: rgb(191, 218, 218);
 }

p{ 
    text-align: center 
 }

a{
   color: rgb(10, 68, 5);
}